services:
    php:
        build:
            context: .
        volumes:
            - .:/var/www/html
        working_dir: /var/www/html

    nginx:
        image: nginx:1.25
        ports:
            - "8080:80"
        volumes:
            - .:/var/www/html
            - ./nginx.conf:/etc/nginx/conf.d/default.conf
        depends_on:
            - php
